.footer-container {
  background: #f74040;
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

.each-footer-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.each-footer-text {
  font-family: "Times New Roman", Times, serif;
  margin-left: 4px;
  color: #fff;
}

@media screen and (min-width: 550px) {
  .footer-container {
    display: flex;
    justify-content: space-around;
  }
  .each-footer-container {
    margin-top: 0px;
  }
}

@media screen and (min-width: 700px) {
  .footer-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
